# Python Virtual Environments
.venv
venv
env/

# Python Cache
__pycache__/

# IDE specific files
.idea/
.vscode/

# Environment variables
.env

# Local Database Files
instance/
*.db
*.sqlite3

# Frontend Dependencies
frontend/node_modules/
